Repository yuyangsun333/preswald: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff (format)
        entry: ruff format
        language: system
        types: [python]
        exclude: ^setup\.py$

      - id: ruff-lint
        name: ruff (lint)
        entry: ruff check
        language: system
        types: [python]
        exclude: ^setup\.py$

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write "src/**/*.{js,jsx,css,scss,json}"'
        language: system
        types_or: [javascript, jsx, css, scss, json]
        files: ^frontend/

      # - id: eslint
      #   name: eslint
      #   entry: bash -c 'cd frontend && npx eslint'
      #   language: system
      #   types_or: [javascript, jsx]
      #   files: ^frontend/

Fix playwright dependency and add documentation for pdf export (#723)
  docs/cli/export.mdx
  preswald/utils.py
  pyproject.toml
Due: ruff-format, ruff-lint

feat(runtime): add AST driven reactive runtime with DAG based selective reruns (#712)
  docs/configuration.mdx
  docs/coreconcepts.mdx
  docs/sdk/workflow.mdx
  frontend/src/components/DynamicComponents.jsx
  preswald/engine/base_service.py
  preswald/engine/render_tracking.py
  preswald/engine/runner.py
  preswald/engine/transformers/__init__.py
  preswald/engine/transformers/reactive_runtime.py
  preswald/interfaces/components.py
  preswald/interfaces/dependency_tracker.py
  preswald/interfaces/tracked_value.py
  preswald/interfaces/workflow.py
  preswald/main.py
  preswald/utils.py
Due: ruff-format, ruff-lint, prettier

Update README.md
  README.md
Due: none

Deprecate unused components, reorganize into Displays + Controls
  docs/addnewcomponent.mdx
  docs/controls/checkbox.mdx
  docs/controls/selectbox.mdx
  docs/controls/slider.mdx
  docs/controls/text_input.mdx
  docs/data/get_df.mdx
  docs/data/query.mdx
  docs/deprecated/alert.mdx
  docs/deprecated/button.mdx
  docs/deprecated/chat.mdx
  docs/deprecated/playground.mdx
  docs/deprecated/progress.mdx
  docs/deprecated/separator.mdx
  docs/deprecated/spinner.mdx
  docs/displays/image.mdx
  docs/displays/matplotlib.mdx
  docs/displays/plotly.mdx
  docs/displays/table.mdx
  docs/displays/text.mdx
  docs/docs.json
  docs/layout/sidebar.mdx
  docs/layout/sizing.mdx
  docs/layout/topbar.mdx
  docs/workflow/retrypolicy.mdx
  docs/workflow/workflow.mdx
  docs/workflow/workflow_analyzer.mdx
  docs/workflow/workflow_dag.mdx
Due: none

hello.py.template - separate display logic (#726)
  preswald/templates/default/hello.py.template
Due: none

feat: makefile targets for release automation
  Makefile
  docker/preswald.Dockerfile
Due: none

Feat/component dag reactivity phase4 (#730)
  docs/introduction.mdx
  docs/usage/examples.mdx
  docs/workflow/workflow.mdx
  frontend/src/components/DynamicComponents.jsx
  preswald/engine/transformers/reactive_runtime.py
  preswald/utils.py
Due: ruff-format, ruff-lint, prettier

feat: Add HTML Export via WebWorker + Comlink (#739)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/backend/service.js
  frontend/src/backend/worker.js
  frontend/src/components/DynamicComponents.jsx
  frontend/src/utils/websocket.js
  frontend/vite.config.js
  preswald/browser/boot.js
  preswald/browser/entrypoint.py
  preswald/browser/virtual_service.py
  preswald/cli.py
  preswald/utils.py
Due: ruff-format, ruff-lint, prettier

Update preswald version in worker
  frontend/src/backend/worker.js
Due: prettier

Create preswaldHTMLExport entrypoint for use in worker (#741)
  frontend/src/backend/worker.js
  preswald/browser/entrypoint.py
  preswald/cli.py
  preswald/utils.py
Due: ruff-format, ruff-lint, prettier

Update Default Template
  preswald/templates/hello.py.template
  preswald/templates/sample.csv.template
Due: none

feat: make assets urls in the build relative (#742)
  frontend/vite.config.js
Due: prettier

Feat/implicit rendering phase5 (#740)
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/widgets/GenericWidget.jsx
  preswald/engine/base_service.py
  preswald/engine/transformers/frame_context.py
  preswald/engine/transformers/reactive_runtime.py
  preswald/interfaces/components.py
  preswald/interfaces/render/__init__.py
  preswald/interfaces/render/registry.py
  preswald/interfaces/workflow.py
  preswald/utils.py
Due: ruff-format, ruff-lint, prettier

Remove html export directory from serialization (#744)
  preswald/utils.py
Due: ruff-format, ruff-lint

fix(websocket): avoid stale cache when loading project_fs.json (#747)
  frontend/src/utils/websocket.js
Due: prettier

fix(pyodide): ensure matplotlib agg backend is set to enable figure rendering (#746)
  frontend/src/backend/worker.js
Due: prettier

Loading state - color + bag method improvements
  frontend/src/components.css
  frontend/src/components/LoadingState.jsx
Due: prettier

Chore/update examples implicit rendering (#748)
  examples/earthquakes/hello.py
  examples/iris/hello.py
  preswald/engine/transformers/reactive_runtime.py
  preswald/interfaces/render/registry.py
Due: ruff-format, ruff-lint

feat(errors): implement error handling and reporting for AutoAtomTransformer (#751)
  frontend/src/App.jsx
  frontend/src/components.css
  frontend/src/components/ErrorsReport.jsx
  frontend/src/components/pages/Dashboard.jsx
  preswald/engine/base_service.py
  preswald/engine/runner.py
  preswald/engine/transformers/reactive_runtime.py
  preswald/interfaces/render/error_registry.py
  preswald/interfaces/render/registry.py
Due: ruff-format, ruff-lint, prettier

refactor(runtime): unify fallback rendering and improve component error handling
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/widgets/BigNumberWidget.jsx
  frontend/src/components/widgets/ButtonWidget.jsx
  preswald/engine/render_tracking.py
  preswald/engine/runner.py
  preswald/engine/transformers/transformer_utils.py
  preswald/interfaces/component_return.py
  preswald/interfaces/workflow.py
Due: ruff-format, ruff-lint, prettier

feat(runtime): fallback component rendering with AST reconstruction and error display
  frontend/src/App.jsx
  frontend/src/components/widgets/MarkdownRendererWidget.jsx
  preswald/engine/base_service.py
  preswald/engine/render_tracking.py
  preswald/engine/transformers/reactive_runtime.py
  preswald/engine/transformers/transformer_utils.py
  preswald/interfaces/workflow.py
Due: ruff-format, ruff-lint, prettier
