Repository yuyangsun333/preswald: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff (format)
        entry: ruff format
        language: system
        types: [python]
        exclude: ^setup\.py$

      - id: ruff-lint
        name: ruff (lint)
        entry: ruff check
        language: system
        types: [python]
        exclude: ^setup\.py$

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write "src/**/*.{js,jsx,css,scss,json}"'
        language: system
        types_or: [javascript, jsx, css, scss, json]
        files: ^frontend/

      # - id: eslint
      #   name: eslint
      #   entry: bash -c 'cd frontend && npx eslint'
      #   language: system
      #   types_or: [javascript, jsx]
      #   files: ^frontend/

Update README.md
  README.md
Due: none

Update to version 0.1.40
  preswald/__init__.py
  setup.py
Due: ruff-format, ruff-lint

docs!
  README.md
  docs/cli/deploy.mdx
  docs/cli/run.mdx
  docs/cli/stop.mdx
  docs/configuration.mdx
  docs/coreconcepts.mdx
  docs/introduction.mdx
  docs/quickstart.mdx
Due: none

Landing
  landing/index.html
  landing/logo.png
  landing/style.css
Due: none

Cleanup
  landing/index.html
  landing/logo.png
  landing/style.css
Due: none

Updated deployment url
  .gitignore
  preswald/deploy.py
Due: ruff-format, ruff-lint

Removed github actions
  .github/workflows/ci.yml
Due: none

Update to version 0.1.41
  examples/voice/.env.structured
  preswald/__init__.py
  setup.py
Due: ruff-format, ruff-lint

Update community links
  README.md
  docs/docs.json
Due: none

Add penguins example
  examples/penguins/.gitignore
  examples/penguins/README.md
  examples/penguins/data/penguins.csv
  examples/penguins/hello.py
  examples/penguins/images/favicon.ico
  examples/penguins/images/logo.png
  examples/penguins/preswald.toml
  examples/penguins/pyproject.toml
Due: ruff-format, ruff-lint

added button, image, spinner to tutorial
  frontend/src/components/widgets/ButtonWidget.jsx
  preswald/tutorial/hello.py
  preswald/tutorial/images/bliss.jpg
  preswald/tutorial/images/bliss_data_url.txt
  preswald/tutorial/preswald.toml
Due: ruff-format, ruff-lint, prettier

undo accidental change
  preswald/tutorial/preswald.toml
Due: none

Iris demo
  examples/iris/.gitignore
  examples/iris/README.md
  examples/iris/data/iris.csv
  examples/iris/hello.py
  examples/iris/images/favicon.ico
  examples/iris/images/logo.png
  examples/iris/preswald.toml
  examples/iris/pyproject.toml
Due: ruff-format, ruff-lint

very basic start on client
  htmx-frontend/client.py
Due: ruff-format, ruff-lint

receiving content from backend
  htmx-frontend/.sesskey
  htmx-frontend/client.py
  htmx-frontend/main.py
  htmx-frontend/run.py
Due: ruff-format, ruff-lint

janky version now going
  htmx-frontend/client.py
  htmx-frontend/main.py
Due: ruff-format, ruff-lint

Update docs + banner gif
  docs/favicon.svg
  docs/images/banner.gif
  docs/introduction.mdx
Due: none

Updated preswald branding
  frontend/public/logo.png
  frontend/public/vite.svg
  preswald/static/favicon.ico
  preswald/static/logo.png
  preswald/static/vite.svg
  preswald/tutorial/images/favicon.ico
  preswald/tutorial/images/logo.png
Due: none

Update banner.png
  assets/banner.png
Due: none

Updated deploy script w/ new cloud run deployment
  examples/iris/preswald.toml
  preswald/deploy.py
Due: ruff-format, ruff-lint

Update old READMEs for new examples
  examples/iris/README.md
  examples/mobiles/README.md
  examples/penguins/README.md
Due: none

Fix StructuredLabs/preswald#45 (#142)
  preswald/deploy.py
Due: ruff-format, ruff-lint

fix: stop depl (#168)
  preswald/deploy.py
Due: ruff-format, ruff-lint

fix: added scipy dependency (#157)
  setup.py
Due: none
