Repository yuyangsun333/preswald: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff (format)
        entry: ruff format
        language: system
        types: [python]
        exclude: ^setup\.py$

      - id: ruff-lint
        name: ruff (lint)
        entry: ruff check
        language: system
        types: [python]
        exclude: ^setup\.py$

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write "src/**/*.{js,jsx,css,scss,json}"'
        language: system
        types_or: [javascript, jsx, css, scss, json]
        files: ^frontend/

      # - id: eslint
      #   name: eslint
      #   entry: bash -c 'cd frontend && npx eslint'
      #   language: system
      #   types_or: [javascript, jsx]
      #   files: ^frontend/

Fix/eslint prettier (#596)
  frontend/eslint.config.js
  frontend/package.json
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/widgets/FastplotlibWidget.jsx
  frontend/src/components/widgets/SidebarWidget.jsx
  frontend/src/utils/websocket.js
Due: prettier

fix: selectbox overflow styling (#460)
  frontend/src/components.css
  frontend/src/components/ui/select.tsx
Due: prettier

fix: improve initial loading state (#480)
  frontend/src/App.jsx
Due: prettier

Fix: Use configured port for local deployments (#590)
  preswald/deploy.py
Due: ruff-format, ruff-lint

Fix TypeError by replacing | with Union for Python 3.7+ support (#347)
  preswald/deploy.py
Due: ruff-format, ruff-lint

feat: addition of query playground (#545)
  docs/images/playground.png
  docs/sdk/playground.mdx
  frontend/src/components.css
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/widgets/PlaygroundWidget.jsx
  preswald/interfaces/__init__.py
  preswald/interfaces/components.py
  preswald/tutorial/hello.py
Due: ruff-format, ruff-lint, prettier

feat: skip reruns in virtual service if no state changes detected
  frontend/package-lock.json
  preswald/browser/virtual_service.py
Due: ruff-format, ruff-lint, prettier

Remove fastplotlib support temporarily due to system bugs
  examples/fastplotlib/.gitignore
  examples/fastplotlib/README.md
  examples/fastplotlib/data/iris.csv
  examples/fastplotlib/hello.py
  examples/fastplotlib/images/favicon.ico
  examples/fastplotlib/images/logo.png
  examples/fastplotlib/preswald.toml
  examples/fastplotlib/pyproject.toml
  examples/iris/hello.py
  frontend/package-lock.json
  preswald/interfaces/__init__.py
  preswald/interfaces/components.py
  setup.py
Due: ruff-format, ruff-lint, prettier

Update to version 0.1.50
  preswald/__init__.py
  setup.py
Due: ruff-format, ruff-lint

Update to version 0.1.50 (#606)
  examples/iris/hello.py
  frontend/src/App.css
  frontend/src/components.css
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/Layout.jsx
  frontend/src/components/ui/sidebar.tsx
  frontend/src/components/widgets/ChatWidget.jsx
  frontend/src/components/widgets/MarkdownRendererWidget.jsx
  frontend/src/components/widgets/SidebarWidget.jsx
  frontend/src/components/widgets/TableViewerWidget.jsx
  frontend/src/index.css
  preswald/interfaces/components.py
Due: ruff-format, ruff-lint, prettier

fix(virtual_service): suppress Ruff warning and clean up Pyodide handler
  preswald/browser/virtual_service.py
  tests/pyodide_test.html
Due: ruff-format, ruff-lint

feat(runtime): add RenderBuffer to VirtualPreswaldService to skip redundant reruns
  preswald/browser/virtual_service.py
  preswald/engine/utils.py
Due: ruff-format, ruff-lint

feat(server): use RenderBuffer to skip redundant reruns in ServerPreswaldService
  preswald/engine/server_service.py
Due: ruff-format, ruff-lint

Fix top bar (#608)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components.css
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/Layout.jsx
  frontend/src/components/LoadingState.jsx
  frontend/src/components/PreswaldBadge.jsx
  frontend/src/components/pages/Dashboard.jsx
  frontend/src/components/ui/aspect-ratio.tsx
  frontend/src/components/ui/sidebar.tsx
  frontend/src/components/widgets/ImageWidget.jsx
  frontend/src/components/widgets/MarkdownRendererWidget.jsx
  frontend/src/components/widgets/TopbarWidget.jsx
  frontend/src/styles.css
  frontend/tailwind.config.js
  preswald/tutorial/hello.py
  preswald/tutorial/preswald.toml
Due: ruff-format, ruff-lint, prettier

Clean up selectbox, add separator, simplify widgets, expand tutorial (#612)
  frontend/src/components.css
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/ui/progress.jsx
  frontend/src/components/ui/progress.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/widgets/ButtonWidget.jsx
  frontend/src/components/widgets/ConnectionInterfaceWidget.jsx
  frontend/src/components/widgets/DAGVisualizationWidget.jsx
  frontend/src/components/widgets/MarkdownRendererWidget.jsx
  frontend/src/components/widgets/ProgressWidget.jsx
  frontend/src/components/widgets/SelectboxWidget.jsx
  frontend/src/components/widgets/SeparatorWidget.jsx
  frontend/src/components/widgets/SliderWidget.jsx
  frontend/src/components/widgets/SpinnerWidget.jsx
  frontend/src/components/widgets/TableViewerWidget.jsx
  frontend/src/components/widgets/TextInputWidget.jsx
  package-lock.json
  package.json
  preswald/engine/managers/layout.py
  preswald/interfaces/components.py
  preswald/tutorial/hello.py
Due: ruff-format, ruff-lint, prettier

Update favicons, logos, templates
  examples/earthquakes/images/favicon.ico
  examples/earthquakes/images/logo.png
  examples/fires/images/favicon.ico
  examples/fires/images/logo.png
  examples/iris/images/favicon.ico
  examples/iris/images/logo.png
  frontend/src/components.css
  preswald/static/favicon.ico
  preswald/static/logo.png
  preswald/templates/preswald.toml.template
  preswald/templates/workbook.md.template
  preswald/tutorial/images/favicon.ico
  preswald/tutorial/images/logo.png
Due: prettier

Bug fix: Add workbook to init cli
  docs/cli/init.mdx
  preswald/cli.py
Due: ruff-format, ruff-lint

Update docs
  docs/docs.json
  docs/sdk/chat.mdx
  docs/sdk/fastplotlib.mdx
  docs/sdk/image.mdx
  docs/sdk/matplotlib.mdx
  docs/sdk/playground.mdx
  docs/sdk/sidebar.mdx
  docs/sdk/spinner.mdx
Due: none

Fix query playground (#614)
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/widgets/PlaygroundWidget.jsx
  package-lock.json
  package.json
  preswald/interfaces/components.py
Due: ruff-format, ruff-lint, prettier

feat: skip reruns in virtual service if no state changes detected (#604)
  preswald/browser/virtual_service.py
  tests/pyodide_test.html
Due: ruff-format, ruff-lint

fix(frontend): add @monaco-editor/react dependency to fix build error (#615)
  frontend/package-lock.json
  frontend/package.json
  preswald/static/favicon.ico
  preswald/static/logo.png
Due: prettier

Updated dockerfile and iris_app test
  docker/preswald.Dockerfile
  docker/test/iris_app.Dockerfile
  docker/test/voice_app.Dockerfile
Due: none

Update docker image used for local and gcp deployments
  preswald/deploy.py
Due: ruff-format, ruff-lint

Update to version 0.1.51
  preswald/__init__.py
  setup.py
Due: ruff-format, ruff-lint

Updated docs with removed view component (#621)
  docs/sdk/get_df.mdx
  docs/sdk/playground.mdx
  docs/sdk/query.mdx
  docs/usage/examples.mdx
Due: none

[Feature] Add JSON File as a Supported Data Source (#560)
  docs/configuration.mdx
  docs/usage/examples.mdx
  examples/user_event/.gitignore
  examples/user_event/README.md
  examples/user_event/data/events_flat.json
  examples/user_event/data/events_nested.json
  examples/user_event/hello.py
  examples/user_event/images/favicon.ico
  examples/user_event/images/logo.png
  examples/user_event/preswald.toml
  examples/user_event/pyproject.toml
  preswald/engine/managers/data.py
Due: ruff-format, ruff-lint

Feature/add parquet (#613)
  docs/configuration.mdx
  preswald/engine/managers/data.py
Due: ruff-format, ruff-lint

Add anchor links (#638)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/widgets/MarkdownRendererWidget.jsx
Due: prettier

Minor fixes (#639)
  README.md
  preswald/cli.py
Due: ruff-format, ruff-lint

Moved from setuptools to pyproject.toml via uv for builds (#643)
  CONTRIBUTING.md
  README.md
  docs/addnewcomponent.mdx
  docs/quickstart.mdx
  preswald/__init__.py
  preswald/build.py
  preswald/templates/Dockerfile.template
  pyproject.toml
  setup.py
Due: ruff-format, ruff-lint

Fallback to cloudrun url if custom domain is down (#646)
  preswald/cli.py
Due: ruff-format, ruff-lint

feat(engine): add RenderBuffer to VirtualPreswaldService to skip redundant reruns (#616)
  preswald/browser/virtual_service.py
  preswald/engine/utils.py
Due: ruff-format, ruff-lint

feat(server): use RenderBuffer to skip redundant reruns in ServerPreswaldService (#617)
  preswald/engine/server_service.py
Due: ruff-format, ruff-lint

Added Table of Contents feature to Sidebar (#634)
  frontend/src/components/TableOfContents.jsx
  frontend/src/components/ui/sidebar.tsx
Due: prettier

Added big number card component (#628)
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/widgets/BigNumberWidget.jsx
  preswald/interfaces/__init__.py
  preswald/interfaces/components.py
  preswald/tutorial/hello.py
Due: ruff-format, ruff-lint, prettier

feat(renderbuffer): integrate diffing into core components and restore msgpack dependency (#633)
  .gitignore
  preswald/browser/virtual_service.py
  preswald/engine/base_service.py
  preswald/engine/server_service.py
  preswald/engine/utils.py
  preswald/interfaces/components.py
  pyproject.toml
  tests/pyodide_test.html
Due: ruff-format, ruff-lint

Remove need to call connect explicitly (#653)
  examples/earthquakes/hello.py
  examples/fires/hello.py
  examples/iris/hello.py
  examples/user_event/hello.py
  preswald/browser/virtual_service.py
  preswald/engine/base_service.py
  preswald/engine/managers/data.py
  preswald/engine/runner.py
  preswald/engine/server_service.py
  preswald/templates/hello.py.template
  preswald/tutorial/hello.py
Due: ruff-format, ruff-lint

Re-add connect to hello.py template
  preswald/templates/hello.py.template
Due: none

Fixed image not loading in component or virtual service (#662)
  examples/user_event/images/favicon.ico
  examples/user_event/images/logo.png
  frontend/public/favicon.ico
  frontend/public/logo.png
  frontend/src/components/ui/sidebar.tsx
  frontend/tsconfig.json
  preswald/browser/entrypoint.py
  preswald/cli.py
  preswald/engine/managers/branding.py
  preswald/interfaces/components.py
  preswald/main.py
  preswald/static/favicon.ico
  preswald/static/logo.png
Due: ruff-format, ruff-lint, prettier
