Repository yuyangsun333/preswald: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, prettier

ruff-format:
  name: ruff (format)
  entry: ruff format
  language: system

ruff-lint:
  name: ruff (lint)
  entry: ruff check
  language: system

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write "src/**/*.{js,jsx,css,scss,json}"'
  language: system

fix(alert): show runtime error state with tooltip and dimmed icon
  frontend/src/components/widgets/AlertWidget.jsx
Due: prettier

feat(errors): add structured transform error reporting with frontend integration
  preswald/engine/transformers/reactive_runtime.py
Due: ruff-format, ruff-lint

chore(transformer): minor cleanup and import reordering
  preswald/engine/transformers/reactive_runtime.py
Due: ruff-format, ruff-lint

feat(errors): add structured runtime error reporting and display improvements
  preswald/engine/transformers/reactive_runtime.py
Due: ruff-format, ruff-lint

Create CNAME
  docs/CNAME
Due: none

Delete CNAME
  docs/CNAME
Due: none

Update CNAME
  docs/CNAME
Due: none

fix(chat): improve error handling and rendering for ChatWidget
  frontend/src/components/widgets/ChatWidget.jsx
  preswald/engine/transformers/transformer_utils.py
  preswald/interfaces/workflow.py
Due: ruff-format, ruff-lint, prettier

feat(checkbox): add error rendering and tooltip to CheckboxWidget
  frontend/src/components/widgets/CheckboxWidget.jsx
Due: prettier

feat(generic): add error rendering to GenericWidget
  frontend/src/components/widgets/GenericWidget.jsx
Due: prettier

feat(image): add error rendering and consistent error styling to ImageWidget
  frontend/src/components/widgets/ImageWidget.jsx
Due: prettier

fix(json_viewer): preserve title and render error state when rebuild fails
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/widgets/JSONViewerWidget.jsx
  preswald/engine/transformers/transformer_utils.py
Due: ruff-format, ruff-lint, prettier

feat(matplotlib): add error state rendering to MatplotlibWidget
  frontend/src/components/widgets/MatplotlibWidget.jsx
  preswald/interfaces/components.py
Due: ruff-format, ruff-lint, prettier

feat(playground): add error rendering and styling to PlaygroundWidget
  frontend/src/components/widgets/PlaygroundWidget.jsx
Due: prettier

feat(plotly): add consistent error rendering to DataVisualizationWidget
  frontend/src/components/widgets/DataVisualizationWidget.jsx
Due: prettier

fix(generic): prevent infinite recursion in generic component fallback (#762)
  preswald/interfaces/components.py
Due: ruff-format, ruff-lint

feat(progress-widget): add error state rendering with tooltip and improved layout
  frontend/src/components/widgets/BigNumberWidget.jsx
  frontend/src/components/widgets/ProgressWidget.jsx
Due: prettier

feat(ui): add consistent error state and spacing for SelectboxWidget
  frontend/src/components/widgets/ProgressWidget.jsx
  frontend/src/components/widgets/SelectboxWidget.jsx
Due: prettier

Update deployment_autotests.yaml
  .github/workflows/deployment_autotests.yaml
Due: none

cli: pretty-print export summary with optional Rich (#39)
  .idea/.gitignore
  .idea/inspectionProfiles/Project_Default.xml
  .idea/inspectionProfiles/profiles_settings.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/preswald.iml
  .idea/vcs.xml
  preswald/cli.py
Due: ruff-format, ruff-lint

cli: pretty-print export summary with optional Rich (#39)
  preswald/cli.py
Due: ruff-format, ruff-lint

Path conditions:
  ruff-format: any of: \.py$, but not: ^setup\.py$
  ruff-lint: any of: \.py$, but not: ^setup\.py$
  prettier: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.css$, \.scss$, \.json$
