Repository yuyangsun333/preswald: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff (format)
        entry: ruff format
        language: system
        types: [python]
        exclude: ^setup\.py$

      - id: ruff-lint
        name: ruff (lint)
        entry: ruff check
        language: system
        types: [python]
        exclude: ^setup\.py$

      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npx prettier --write "src/**/*.{js,jsx,css,scss,json}"'
        language: system
        types_or: [javascript, jsx, css, scss, json]
        files: ^frontend/

      # - id: eslint
      #   name: eslint
      #   entry: bash -c 'cd frontend && npx eslint'
      #   language: system
      #   types_or: [javascript, jsx]
      #   files: ^frontend/

Added JSON-viewer feature (#645)
  examples/user_event/hello.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/widgets/JSONViewerWidget.jsx
  preswald/deploy.py
  preswald/engine/managers/data.py
  preswald/engine/telemetry.py
  preswald/engine/utils.py
  preswald/interfaces/__init__.py
  preswald/interfaces/components.py
  preswald/interfaces/data.py
  preswald/interfaces/workflow.py
  preswald/tutorial/hello.py
  preswald/utils.py
Due: ruff-format, ruff-lint, prettier

Fixing local docker testing
  docker/preswald.Dockerfile
  docker/test/iris_app.Dockerfile
Due: none

Update to version 0.1.52
  pyproject.toml
Due: none

Update link
  README.md
  community_gallery/english-premier-league/README.md
  docs/docs.json
Due: none

Add template registry
  preswald/templates/templates.json
Due: none

Test the templates webhook
  preswald/templates/templates.json
Due: none

feat: introduce DAG-based component reactivity and unify component rendering (#648)
  preswald/engine/base_service.py
  preswald/engine/runner.py
  preswald/interfaces/components.py
  preswald/interfaces/workflow.py
  preswald/utils.py
  pyproject.toml
Due: ruff-format, ruff-lint

feat: DAG-based reactive atom execution (phase 2) (#675)
  preswald/__init__.py
  preswald/browser/virtual_service.py
  preswald/engine/base_service.py
  preswald/engine/managers/layout.py
  preswald/engine/runner.py
  preswald/engine/server_service.py
  preswald/interfaces/component_return.py
  preswald/interfaces/components.py
  preswald/interfaces/workflow.py
  preswald/utils.py
Due: ruff-format, ruff-lint

Refactor (#681)
  .github/workflows/deployment_autotests.yaml
  preswald/cli.py
  preswald/deploy.py
Due: ruff-format, ruff-lint

docs: document reactive runtime and manual vs inferred dependencies (#691)
  docs/coreconcepts.mdx
  docs/sdk/workflow.mdx
Due: none

docs(contributing): add section on working with forks & rebasing (#693)
  CONTRIBUTING.md
Due: none

feat(cli): add `export` command for one-shot PDF rendering
  preswald/cli.py
  preswald/engine/runner.py
  preswald/main.py
Due: ruff-format, ruff-lint

fix(cli): prevent await error in `export` by using async noop message handler
  preswald/main.py
Due: ruff-format, ruff-lint

chore(cli): silence flake8 C901 warning for `deploy` function
  preswald/cli.py
Due: ruff-format, ruff-lint

A/B Testing Template
  preswald/templates/ab-testing/hello.py.template
Due: none

API Latency Template
  preswald/templates/ab-testing/hello.py.template
  preswald/templates/api-latency/sample.csv.template
Due: none

fix: qualify HASH_PATTERN reference in RenderBuffer._ensure_hash (fixes #692) (#694)
  preswald/engine/utils.py
Due: ruff-format, ruff-lint

feat(SliderWidget): implement debounced onChange handler for improved performance (#670)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/widgets/SliderWidget.jsx
Due: prettier

fix(runtime): fallback to full rerun when DAG dependencies are missing
  preswald/engine/runner.py
Due: ruff-format, ruff-lint

fix(runtime): fallback to full rerun when DAG dependencies are missing (#709)
  preswald/engine/runner.py
Due: ruff-format, ruff-lint

fix(data): preserve original column names in CSV sources (#710)
  preswald/engine/managers/data.py
Due: ruff-format, ruff-lint

Fix sidebar logo alignment (#666)
  frontend/src/components.css
  frontend/src/components/ui/sidebar.tsx
Due: prettier

Updated chat component docs (#631)
  docs/images/chat_source_change.gif
  docs/sdk/chat.mdx
Due: none

Feature/latex support for text component (#644)
  docs/sdk/text.mdx
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/widgets/MarkdownRendererWidget.jsx
  package-lock.json
  package.json
Due: prettier

feat: add support for customizable logo and title in sidebar component (#687)
  docs/sdk/sidebar.mdx
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/widgets/SidebarWidget.jsx
  preswald/interfaces/components.py
Due: ruff-format, ruff-lint, prettier

feat: plotly widget download button (#705)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components.css
  frontend/src/components/widgets/DataVisualizationWidget.jsx
  package-lock.json
  package.json
Due: prettier

Add ability to connect via source path (#715)
  docs/sdk/get_df.mdx
  docs/sdk/query.mdx
  preswald/engine/managers/data.py
Due: ruff-format, ruff-lint

Fixed callsite detection to work inside pyodide (#716)
  preswald/utils.py
Due: ruff-format, ruff-lint

Remove 'Built by Preswald' branding if and ONLY if the app is being rendered through pyodide (#717)
  frontend/src/components/Layout.jsx
Due: prettier

Replacing writing to site-packages with read check (#719)
  preswald/main.py
Due: ruff-format, ruff-lint

fix: update MemoizedComponent render logic and pass re-render flag from backend (#720)
  frontend/src/components/DynamicComponents.jsx
  preswald/utils.py
Due: ruff-format, ruff-lint, prettier

Remove package.json from top level - redundant w/ frontend
  package-lock.json
  package.json
Due: none

Removed github and api key from deploy
  preswald/cli.py
Due: ruff-format, ruff-lint

Update to version 0.1.53
  pyproject.toml
Due: none

Moved katex css import to html link tag to avoid bloating bundle (#722)
  frontend/index.html
  frontend/src/components/widgets/MarkdownRendererWidget.jsx
Due: prettier

Feature: Export pdf with component rendering check (#695)
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/ui/sidebar.tsx
  frontend/src/components/widgets/AlertWidget.jsx
  frontend/src/components/widgets/BigNumberWidget.jsx
  frontend/src/components/widgets/ButtonWidget.jsx
  frontend/src/components/widgets/ChatWidget.jsx
  frontend/src/components/widgets/CheckboxWidget.jsx
  frontend/src/components/widgets/DAGVisualizationWidget.jsx
  frontend/src/components/widgets/DataVisualizationWidget.jsx
  frontend/src/components/widgets/FastplotlibWidget.jsx
  frontend/src/components/widgets/ImageWidget.jsx
  frontend/src/components/widgets/JSONViewerWidget.jsx
  frontend/src/components/widgets/MarkdownRendererWidget.jsx
  frontend/src/components/widgets/MatplotlibWidget.jsx
  frontend/src/components/widgets/PlaygroundWidget.jsx
  frontend/src/components/widgets/ProgressWidget.jsx
  frontend/src/components/widgets/SelectboxWidget.jsx
  frontend/src/components/widgets/SeparatorWidget.jsx
  frontend/src/components/widgets/SidebarWidget.jsx
  frontend/src/components/widgets/SliderWidget.jsx
  frontend/src/components/widgets/SpinnerWidget.jsx
  frontend/src/components/widgets/TableViewerWidget.jsx
  frontend/src/components/widgets/TextInputWidget.jsx
  frontend/src/components/widgets/TopbarWidget.jsx
  frontend/src/components/widgets/UnknownWidget.jsx
  preswald/cli.py
  preswald/engine/runner.py
  preswald/main.py
  preswald/utils.py
Due: ruff-format, ruff-lint, prettier
