Repository yuyangsun333/preswald: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, prettier

ruff-format:
  name: ruff (format)
  entry: ruff format
  language: system

ruff-lint:
  name: ruff (lint)
  entry: ruff check
  language: system

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write "src/**/*.{js,jsx,css,scss,json}"'
  language: system

Move Tailwind Styles to `components.css` (#374)
  .gitignore
  frontend/src/App.jsx
  frontend/src/components.css
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/Sidebar.jsx
  frontend/src/components/TopBar.jsx
  frontend/src/components/pages/Dashboard.jsx
  frontend/src/components/widgets/AlertWidget.jsx
  frontend/src/components/widgets/ButtonWidget.jsx
  frontend/src/components/widgets/CheckboxWidget.jsx
  frontend/src/components/widgets/ConnectionInterfaceWidget.jsx
  frontend/src/components/widgets/DAGVisualizationWidget.jsx
  frontend/src/components/widgets/DataVisualizationWidget.jsx
  frontend/src/components/widgets/ImageWidget.jsx
  frontend/src/components/widgets/MarkdownRendererWidget.jsx
  frontend/src/components/widgets/ProgressWidget.jsx
  frontend/src/components/widgets/SelectboxWidget.jsx
  frontend/src/components/widgets/SliderWidget.jsx
  frontend/src/components/widgets/SpinnerWidget.jsx
  frontend/src/components/widgets/TableViewerWidget.jsx
  frontend/src/components/widgets/TextInputWidget.jsx
  frontend/src/components/widgets/UnknownWidget.jsx
  frontend/src/index.css
  frontend/src/main.jsx
  package-lock.json
  package.json
Due: prettier

Add matplotlib component (#501)
  examples/iris/hello.py
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/widgets/MatplotlibWidget.jsx
  preswald/interfaces/__init__.py
  preswald/interfaces/components.py
Due: ruff-format, ruff-lint, prettier

Update README.md
  README.md
Due: none

Update to version 0.1.45
  preswald/__init__.py
  setup.py
Due: ruff-format, ruff-lint

Updated assets for preswald 0.1.46
  preswald/__init__.py
  setup.py
Due: ruff-format, ruff-lint

feat: Add standalone topbar component (#441)
  docs/docs.json
  docs/images/topbar.png
  docs/sdk/topbar.mdx
  frontend/src/components.css
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/Layout.jsx
  frontend/src/components/widgets/TopbarWidget.jsx
  preswald/interfaces/__init__.py
  preswald/interfaces/components.py
  preswald/tutorial/hello.py
  setup.py
Due: ruff-format, ruff-lint, prettier

Fixed scipy dep issue
  setup.py
Due: none

Revision on feat: AI Chat Component (using OpenAI) #470 (#551)
  docs/sdk/chat.mdx
  examples/iris/hello.py
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/widgets/ChatWidget.jsx
  frontend/src/services/openai.js
  preswald/interfaces/__init__.py
  preswald/interfaces/components.py
Due: ruff-format, ruff-lint, prettier

fix(setup): add missing fastplotlib and imageio dependencies (#554)
  setup.py
Due: none

Update to version 0.1.47
  preswald/__init__.py
  setup.py
Due: ruff-format, ruff-lint

Simplify build_frontend process (#549)
  CONTRIBUTING.md
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/vite.config.js
  setup.py
Due: prettier

feat(fastplotlib): stream Fastplotlib plots via WebSocket using GPU-rendered PNGs (#511)
  README.md
  docs/introduction.mdx
  docs/sdk/fastplotlib.mdx
  examples/iris/hello.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/DynamicComponents.jsx
  frontend/src/components/widgets/FastplotlibWidget.jsx
  frontend/src/utils/websocket.js
  preswald/interfaces/components.py
  setup.py
Due: ruff-format, ruff-lint, prettier

Update to version 0.1.48
  preswald/__init__.py
  setup.py
Due: ruff-format, ruff-lint

Feature/update contributing (#598)
  CONTRIBUTING.md
Due: none

Make fastplotlib import conditional
  preswald/interfaces/components.py
Due: ruff-format, ruff-lint

Update to version 0.1.49
  preswald/__init__.py
  setup.py
Due: ruff-format, ruff-lint

Path conditions:
  ruff-format: any of: \.py$, but not: ^setup\.py$
  ruff-lint: any of: \.py$, but not: ^setup\.py$
  prettier: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.css$, \.scss$, \.json$
